<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div id="content">
    <h1>Welcome To About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempore, exercitationem quam! Dicta minus architecto amet exercitationem commodi
         tenetur veritatis voluptatibus culpa impedit reprehenderit praesentium nisi, 
        quo quidem. Dolores, pariatur accusantium.</p>
    </div>

    <script>
        console.log("About Page");
    </script>
</body>
</html>