<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Welcome To Services Page</h1>
        <h2>Services Offered By SCM</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Cumque delectus voluptatem fugit, ullam error nostrum officia 
            similique porro tempora doloremque odio voluptas fugiat consequatur 
            obcaecati quisquam pariatur deserunt expedita fuga?</p>
    </section>

    <script>
        console.log("Services Page");
    </script>
</body>
</html>